/**
 * Default Look and Feel
 */
@font-face {
    font-family: "Roboto-Regular";
    src: url(../Fonts/Roboto-Regular.ttf) format("truetype");   
}
.alertify,
.alertify-log {
	font-family: "Roboto-Regular";
}
.alertify {
	background: #FFF;
        color: #000;
        border-top: 56px solid #4cAF50;
	box-shadow: 2.5px 2.5px 5px grey;
	-webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
	   -moz-background-clip: padding;     /* Firefox 3.6 */
	        background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
	.alertify-text {
		border: 1px solid #CCC;
		padding: 10px;
		border-radius: 4px;
	}
	.alertify-button {
		border-radius: 4px;
		color: #FFF;

		padding: 6px 15px;
		text-decoration: none;
		
		
	}
	.alertify-button:hover,
	.alertify-button:focus {

	}
	.alertify-button:focus {
	}
	.alertify-button:active {

	}
		.alertify-button-cancel{
			border: 1px solid #fff;
                        color: #4caf50;
		}
		.alertify-button-cancel:hover,
                .alertify-button-cancel:focus {
                    color: #388e3c;
                }
		
                .alertify-button-ok {
			background-color: #4caf50;
                       border: 1px solid #fff;
		}
                
		.alertify-button-ok:hover,
                .alertify-button-ok:focus{
                    background: #388e3c;
                }

.alertify-log {
	background: #1F1F1F;
	background: rgba(0,0,0,.9);
	padding: 15px;
	border-radius: 4px;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}
	.alertify-log-error {
		background: #FE1A00;
		background: rgba(254,26,0,.9);
	}
	.alertify-log-success {
		background: #5CB811;
		background: rgba(92,184,17,.9);
	}