@media only screen and(min-width:1024px),(max-width:1400px){
    /*-----------------FIXED HD RESOLUTION login(index.php)----------------*/
    .content {
        top:0;
        margin-left: 35%;
        position: fixed;
        background: #fff;
        color: #000;
        width: 27%;
        height: 90%;
        margin-top: 1.2%;
        border-radius: 2px;
        box-shadow: 2.5px 2.5px 5px grey;
    }

    .loginform{
        margin: 50px auto;
        width: 250px;
        background: #fff;
        padding-bottom: 1em;
    }

    .loginform span{
        background-color: #00ca00;
        border-radius: 3px 0px 0px 3px;
        -moz-border-radius: 3px 0px 0px 3px;
        -webkit-border-radius: 3px 0px 0px 3px;
        color: #fff;
        display: block;
        float: left;
        height: 42px;
        line-height: 42px;
        text-align: center;
        width: 15%;
    }

    .loginform .login_inputs{
        border: none;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5em;
        padding: 0 100px 0 100px;
        -webkit-appearance: none;
        height: 42px;
        background-color: #eceff1;
        border-radius: 0px 3px 3px 0px;
        -moz-border-radius: 0px 3px 3px 0px;
        -webkit-border-radius: 0px 3px 3px 0px;
        color: #606468;
        margin-bottom: 1em;
        padding: 0 17px;
        width: 69%;
    }

    .index img{
        width: 40%;
    }

    .title_index h1{
        color:#ffffff;
        font-size: 27px;
    }

    .login_button{
        height: 32px;
        font-size: .9em;
        background: #00ca00;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        padding: 7px 12px;
        cursor: pointer;
        border-radius: 3px;
        font-weight: bold;
        border: none;
    }

    /*--------FOOTER INDEX------------------------------------------------*/
    .footergeneral {
        bottom: 0;
        height: 25px;
        left: 0;
        padding-top: 5px;
        text-align: center;
        width: 80%;
        margin-left: 20%;
        background-color: #4CAF50;
        position: fixed;
    }

    .footergeneral .footer{
        font-size: 13px;
        text-decoration: none;
        color: #ffffff;
    }

    .footerindex {
        margin-left: 0;
        bottom: 0;
        height: 25px;
        left: 0;
        padding-top: 5px;
        text-align: center;
        width: 100%;
        background-color: #4CAF50;
        position: fixed;
    }

    .footerindex .footer{
        font-size: 13px;
        text-decoration: none;
        color: #ffffff;
    }

    .footerindex .error{
        font-size: 13px;
        color: #cc0000;
    }
    /*---FIN----------------------------------------------*/

    /*SIDEBAR FIX---------------------------------------*/

    .side_bar_header .text-container{
        padding-bottom: 1px;
        font-size: 13px;
    }

    .side_bar_header .avatar img{
        display: block;
        margin: auto;
        width: 70px;
        height: 70px;
        border-radius: 36px;
        border: 1px solid #212121;
    }

    /*SIDEBAR CLIENTE FIX ---------------------------------------*/
    .side_bar_header-cliente{
        padding-top: 90px;
        background: url("../img/sidebar_header.png") top center repeat-y;
        background-size: 100%;
        height: 65px;
    }

    .side_bar_header-cliente .text{
        text-align: center;
        color: #fff;
        font-size: 13px;
        text-shadow: 2px 2px #000;
    }


    .Padre_modulo_sidebar span{
        padding-right: .5em;
        font-size: 13px;
    }

    .Hijo_modulo_sidebar span{
        font-size: 13px;
        margin-left: 10px;
    }

    .logout{
        background: #2a2a2a; 
        position: fixed;
        bottom: 0;
        width: 20%;
        height: 30px;
    }


    /*toolbar fixed text and size height */
    .tooblar-header{
        width: 80%;
        height: 46px;
        position: fixed;
        font-size: 15px;
        font-family: "Roboto-Regular",sans-serif;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        align-content: center;
        padding: 0px 16px 0 0px;
        background: #4CAF50;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 2px 9px 1px rgba(0, 0, 0, 0.12),
            0 4px 2px -2px rgba(0, 0, 0, 0.2);
        color: #FFF;
        top: 0;
        left: 0;
        margin-left: 20%;   
    }

    .arrow-icon{
        font-size: 20px;
    }
    .title_span{
        font-size: 20px;
    }
    .bell-icon{
        position: fixed;
        right: 0;
        margin-right: 1em;
        font-size: 20px;
    }

    .intro{
        top: 0;
        margin-top: 46px;
        position: fixed;
        height: 100%;
        width: 100%;
        font-family: "Roboto-Regular";
        color:#fff;
        text-align: center;
        width: 80%;
        right:  0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: radial-gradient(#c8e6c9,#388e3c);
    }


    /*---FORMULARIO ALTAS----------------------------------*/
    .card-form-alta{
        max-width: 320px;
    }

    .contenedor-inputs-alta input[type="time"]{
        width: 43%;
    }

    /*--------FORMULARIO UPDATE---------------------------*/
    .card-form{
        max-width: 320px;
    }

    .contenedor-inputs input[type="text"],
    .contenedor-inputs input[type="email"],
    .contenedor-inputs input[type="number"],
    .contenedor-inputs input[type="date"],
    .contenedor-inputs input[type="password"]{
        width: 84%;
    }

    .contenedor-inputs input[type="time"]{
        width: 38%;
    }

    /*-----AVATAR----------------------------*/
    .imagen_vista_avatar{
        width: 120px;
        height: 120px;
        border-radius: 61px;
        border: 1px solid #212121;
    }
    .header_alertas_sidebar{
        height: 46px;
    }
    .hide_alertas_sidebar{
        font-size: 18px;
    }
        .title_alertas_sidebar{
        font-size: 18px;
    }
    .button__badge{
    background-color: #fa3e3e;
    text-align: center;;
    color: white;
  font-size: 10px;
  border-radius: 50%;
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
  margin-right: 3em;
  margin-top: .4em;
  padding-right: 4px;
  padding-left: 4px;
}

}

/*RESPONSIVE--------------------------------------------------------------------------------960px------------------------------------------------RESPONSIVE------------------------------*/
@media only screen and (max-width: 1024px),
(min-device-width: 768) and (max-device-width: 1024px){
    body{
        background-color: #Red;
    }
    .span_menu_container{
        display: block;
    }
    /*LOGIN RESPONSIVE--------------------------------------------------------------LOGIN RESPONSIVE*/
    .index{
        width: 100%;
        height: 100%;
    }
    .index img{
        width: 35%;
    }
    .content{
        width: 100%;
        left: 0;
        top:0;
        margin-left: 0;
        height: 100%;
    }

    .title_index h1{
        font-size: 23px;
        color:#ffffff;
    }

    .loginform{
        margin-top: 0;
    }
    /*intropage intro-------------------------------------------------------------------------------------------------intropage intro---------------------------------------------*/
    .body{
        background-color: white;
    }
    .toggle_menu{
        display: block;
    }
    .intro{
        top:0;
        left: 0;
        margin-top: 56px;
        width: 100%;
        right:  0;
        display: block;
    }
    .intro_container{
        background: #c8e6c9;
        width: 100%;
        position: fixed;
        height: 100%;
        border-radius: 0px;
        display: block;
        box-shadow: none;
    }
    .intro_container img{
        width: 40%;

    }
    .intro_page_text{
        width: 100%;
        display: block;
        vertical-align: auto;
    }
    .intro_page_text h1, .intro_page_text h3{
        text-shadow: 2px 2px grey;
    }
    .intro h1{
        font-family: "EDWARDIAN";
        font-size: 3.5em;
    }
    .intro h3{
        font-size: 2em;
    }
    /*SIDEBAR-RESPONSIVE*/
    .sidebar{
        width: 100%;
        position: absolute;
        min-height: 100%;
        background-color: #303030;
    }

    /*Agregado reciente*/
    .side_bar_header{
        padding-top: 10px;
        background: url("../img/sidebar_header.png") top center repeat-y;
        background-size: 100%;
    }

    .side_bar_header .avatar img{
        width: 90px;
        height: 90px;
        border-radius: 47px;

    }
    .side_bar_header .text{
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px #000;
    }
    .side_bar_content{
        position: absolute;
        width: 100%;
        padding-bottom: 2.5em;
    }
    .Padre_alta{
        padding-bottom: 10em;
    }
    .Padre_modulo_sidebar{
        padding: .7em;
        border-bottom: 1px solid #2a2a2a;
    }
    .Padre_modulo_sidebar:hover{
        background: #777;  
    }
    .Padre_modulo_sidebar span{
        padding-right: .5em;
    }
    .Hijo_modulo_sidebar{
        padding: .7em;
        border-bottom: 1px solid #2a2a2a;
    }
    .Hijo_modulo_sidebar span{
        margin-left: 10px;
    }
    .Hijo_modulo_sidebar:hover{
        background: #777;  
    }
    .background-modulo-sidebar{
        background: #444;    
    }
    .hide-all{
        display: none;
    }


    /* intropage*/
    .datos_generales_form input,select{
        width: 95%;
        margin-top: .5em;
        margin-bottom: .5em;
        padding-top: .5em;
        text-align: center;
        background:transparent;
        border: none;
        border-bottom: 1px solid #212121;
    }
    .datos_generales_form{
        padding-bottom: 3em;
    }

    .error_datosgenerales{
        background: #eee;
        text-align: left;
        margin-top: -5em;
        margin-left: .2em;
        width: 100%;
        margin-left: -.01em;
        padding-bottom: 3em;
    }
    #error_datosgenerales{
        margin-left: .5em;
        padding-bottom: .5em;
    }

    #registrar{
        width: 95%;
    }
    .menu_show{
        margin-left: 0;
        padding-top: 10px;
        padding-left: 10px;
        position: fixed;
        width: 100%;
        left: 0;
        top:0;
        display: block;
    }
    .menu_bar{
        cursor: pointer;
        display: block;
    }
    .user{
        background: #007fbd;
    }


    .abrir{
        transform: translateX(100%);
        transition:transform 0.5s;
    }
    .logout{
        width: 100%;
    }
    .footergeneral{
        width: 100%;
        margin-left: 0%;
    }
    /*CONTAINERS*/
    .div-subcontenedor{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /*---------------------------TOOLBAR ---------------------------------------------------------------*/
    .tooblar-header{
        width: 80%;
        height: 56px;
        position: fixed;
        font-size: 15px;
        font-family: "Roboto-Regular",sans-serif;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        align-content: center;
        padding: 0px 16px 0 0px;
        background: #4CAF50;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 2px 9px 1px rgba(0, 0, 0, 0.12),
            0 4px 2px -2px rgba(0, 0, 0, 0.2);
        color: #FFF;
        top: 0;
        left: 0;
        margin-left: 20%;   
    }

    .arrow-icon{
        font-size: 25px;
    }

    .bell-icon{
        position: fixed;
        right: 0;
        margin-right: 1em;
        font-size: 25px;
    }

    /*--------------------FORMULARIOS Altas---------------------------------------*/

    .card-form-alta{

        width: 90%;
        max-width: 80%;
        padding: 30px;
        margin-top: 1em;
        background: white;
        border-radius: 2px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 2px 9px 1px rgba(0, 0, 0, 0.12),
            0 4px 2px -2px rgba(0, 0, 0, 0.2);
    }

    .contenedor-inputs-alta{
        margin-bottom: 20px;
        align-items: center;
    }

    .contenedor-inputs-alta input[type="text"],
    .contenedor-inputs-alta input[type="email"],
    .contenedor-inputs-alta input[type="number"],
    .contenedor-inputs-alta input[type="date"],
    .contenedor-inputs-alta input[type="password"]{
        font-family: "Roboto-Regular",sans-serif;
        color: #212121;
        width: 97%;
        outline: none;
        padding: 5px;
        background: none;
        border: none;
        border-bottom: 1px solid #ff4081;
    }

    .contenedor-inputs-alta input[type="text"]:focus,
    .contenedor-inputs-alta input[type="email"]:focus,
    .contenedor-inputs-alta input[type="number"]:focus,
    .contenedor-inputs-alta input[type="date"]:focus,
    .contenedor-inputs-alta input[type="password"]:focus,
    .contenedor-inputs-alta input[type="text"]:active,
    .contenedor-inputs-alta input[type="email"]:active,
    .contenedor-inputs-alta input[type="number"]:active,
    .contenedor-inputs-alta input[type="date"]:active,
    .contenedor-inputs-alta input[type="password"]:active{
        outline: none;
        border-bottom: 1px solid #ff4081;
    }


    .contenedor-inputs-alta input[type="text"]:disabled,
    .contenedor-inputs-alta input[type="email"]:disabled,
    .contenedor-inputs-alta input[type="number"]:disabled,
    .contenedor-inputs-alta input[type="date"]:disabled,
    .contenedor-inputs-alta input[type="password"]:disabled{
        outline: none;
        border-bottom: 1px solid #757575;

    }

    .contenedor-inputs-alta input[type="time"]{
        font-family: "Roboto-Regular",sans-serif;
        color: #212121;
        width: 42%;
        outline: none;
        padding: 5px;
        background: none;
        border: none;
        border-bottom: 1px solid #ff4081;
    }

    .contenedor-inputs-alta input[type="time"]:focus,
    .contenedor-inputs-alta input[type="time"]:active{
        outline: none;
        border-bottom: 1px solid #ff4081;
    }

    .contenedor-inputs-alta input[type="time"]:disabled{
        outline: none;
        border-bottom: 1px solid #757575;
    }


    .contenedor-inputs-alta .selector-group{
        outline: none;
        background: none;
        border: none;
        width: 96%;
        font-family: "Roboto-Regular",sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #FF4081;
        color: #212121;
        padding: 5px;
    }

    .contenedor-inputs-alta .selector-group:disabled{
        outline: none;
        background: none;
        border: none;
        width: 100%;
        font-family: "Roboto-Regular",sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #757575;
        color: #757575;
        padding: 5px;
    }

    .selector-group-alta option{
        color: #212121;
    }

    .contenedor-inputs-alta .etiqueta-textview-alta{
        font-family: "Roboto-Regular",sans-serif;
        color: #4caf50;
        font-size: 15px;
        font-weight: 500;
    }

    .etiqueta-textview-alta{
        display: block;
    }

    .contenedor-inputs-alta input[type="submit"]{
        background: #4CAF50;
        border-radius: 3px;
        border: 1px solid white;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 8px;
        width: 100%;
        font-family: 'Roboto',sans-serif;
        font-size: 16px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        margin-top: 15px;
    }

    /* Levantamiento_campo.php */

    .lev_campo_form{
        background: #eee;
        padding-left: 5%;
        padding-bottom: 5em;
        position: absolute;
        width: 95%;

    }
    .list_container{
        width: 95%;
        border-bottom: none;
    }
    .list_container .label{
        width: 100%;
        border-bottom: none;
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .list_container .check{
        float: right;
        margin-top: .5em;
        width: 100%;
        border-bottom: 1px solid #212121;
        padding-bottom: 1em;
    }
    .list_container .check input{
        width:30%;
        left: 0;

    }
    .list_container .take_foto{
        float: right;
        margin-top: 1em;
        width: 100%;
        border-bottom: 1px solid #212121;
        padding-bottom: 1em;
    }
    .list_container .take_foto #subir{
        width: 20%;
    }
    /*REG_USUARIO*/
    .radiobtn{
        margin-left: -5em;
        padding: 0;

    }
    .radio{
        text-align: left;
        width: 200px;
    }
    .radio span{
        margin-left: -4em;

    }
    /*Reg_grupo*/
    .msj_gpo{
        text-align: center;
        margin-left: 1em;
        width: 90%;
        margin-top: -2em;
    }
    .contenido{
        width: 100%;
        margin-left: 0%;
        top: 0;
    }


    /*--------------------NuevoCSSFORMULARIOSActualizar---------------------------------------*/

    .card-form{
        width: 80%;
        max-width: 400px;
        padding: 30px;
        margin: auto;
        margin-top: 70px;
        background: white;
        border-radius: 2px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 2px 9px 1px rgba(0, 0, 0, 0.12),
            0 4px 2px -2px rgba(0, 0, 0, 0.2);
    }

    .contenedor-inputs{
        margin-bottom: 20px;
        align-items: center;
    }

    .contenedor-inputs input[type="text"],
    .contenedor-inputs input[type="email"],
    .contenedor-inputs input[type="number"],
    .contenedor-inputs input[type="date"],
    .contenedor-inputs input[type="password"]{
        font-family: "Roboto-Regular",sans-serif;
        color: #212121;
        width: 84%;
        outline: none;
        padding: 5px;
        background: none;
        border: none;
        border-bottom: 1px solid #ff4081;
    }

    .contenedor-inputs input[type="text"]:focus,
    .contenedor-inputs input[type="email"]:focus,
    .contenedor-inputs input[type="number"]:focus,
    .contenedor-inputs input[type="date"]:focus,
    .contenedor-inputs input[type="password"]:focus,
    .contenedor-inputs input[type="text"]:active,
    .contenedor-inputs input[type="email"]:active,
    .contenedor-inputs input[type="number"]:active,
    .contenedor-inputs input[type="date"]:active,
    .contenedor-inputs input[type="password"]:active{
        outline: none;
        border-bottom: 1px solid #ff4081;
    }


    .contenedor-inputs input[type="text"]:disabled,
    .contenedor-inputs input[type="email"]:disabled,
    .contenedor-inputs input[type="number"]:disabled,
    .contenedor-inputs input[type="date"]:disabled,
    .contenedor-inputs input[type="password"]:disabled{
        outline: none;
        border-bottom: 1px solid #757575;

    }

    .contenedor-inputs input[type="time"]{
        font-family: "Roboto-Regular",sans-serif;
        color: #212121;
        width: 37%;
        outline: none;
        padding: 5px;
        background: none;
        border: none;
        border-bottom: 1px solid #ff4081;
    }

    .contenedor-inputs input[type="time"]:focus,
    .contenedor-inputs input[type="time"]:active{
        outline: none;
        border-bottom: 1px solid #ff4081;
    }

    .contenedor-inputs input[type="time"]:disabled{
        outline: none;
        border-bottom: 1px solid #757575;
    }


    .contenedor-inputs .selector-group{
        outline: none;
        background: none;
        border: none;
        width: 88%;
        font-family: "Roboto-Regular",sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #FF4081;
        color: #212121;
        padding: 5px;
    }

    .contenedor-inputs .selector-group:disabled{
        outline: none;
        background: none;
        border: none;
        width: 88%;
        font-family: "Roboto-Regular",sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #757575;
        color: #757575;
        padding: 5px;
    }

    .selector-group option{
        color: #212121;
    }

    .contenedor-inputs .etiqueta-textview{
        font-family: "Roboto-Regular",sans-serif;
        color: #757575;
        font-size: 15px;
        font-weight: 500;
    }

    .contenedor-inputs .etiqueta-noedicion-textview{
        font-family: "Roboto-Regular",sans-serif;
        color: #4caf50;
        font-size: 15px;
        font-weight: 500;
    }

    .etiqueta-noedicion-textview{
        display: block;
    }

    .etiqueta-textview{
        display: block;
    }

    .contenedor-inputs input[type="submit"]{
        background: #4CAF50;
        border-radius: 3px;
        border: 1px solid white;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 8px;
        width: 100%;
        font-family: 'Roboto',sans-serif;
        font-size: 16px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        margin-top: 15px;
    }

    .contenedor-inputs input[type="submit"]:hover{
        background: #388E3C;
    }




    /*ASISOPA responsive---------------------------------------------------------------*/
    .contenedor_documentos_sasisopaphp{
        left: 0;
        width: 100%;
    }
    .select_es_sasisopa,.select_es_sasisopa_client{  
        width: 100%;
        margin-left: 3%;
        top: 0;
        left: 0;
        color: #303030;
    }
    .select_es_sasisopa .select_es_sasisopa_title, .select_es_sasisopa_client .select_es_sasisopa_title{
        margin-left: 35%    
    }
    #asisopa_list,#asisopa_list_client{
        top: 0;
        width: 100%;
        height: 100%;
        color:#444;
    }
    #documentos_asisopa{
        position: static;
        top:0;
        margin-left: 0%;
        width: 100%;
        float: none;
        border-left: 0px solid black;
        color: #303030;
        padding-bottom: 3em;


    }
    .tooblar-header{
        margin-left: 0;
        width: 100%;
    }
    .title_span{
        margin-top: .5em;
        font-size: 17px;
    }
    .menu_bar{
        display: block;
    }
    .no-display{
        display: none;
    }
    .Contenedor_principal_alertas_sidebar{
        width: 100%;
    }
    /*CALENDARIO*/
    
    /*TABLAS*/
    .table_caracteristicas{
        width: 100%;
        margin-left: 0;
    }
    
}/*end resp */